.landingBody {
  background-image: url("../background_image.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: contain;
  background-position: 25% 50%;
}

.card-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-col-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 10%;
}

.landing-logo {
  margin-top: 3vh;
  margin-left: 0.5vw;
  height: 8vh;
  width: 8vw;
}

.card {
  backdrop-filter: blur(10px);
  background-color: #ffffff95;
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 100vh;
  overflow: auto;
  position: relative;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  padding: 2em;
  background: none;
}

.button-wrapper {
  position: absolute;
  justify-content: center;
  right: 2em;
}

.sign-out {
  align-self: flex-end;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  background-color: #f46f60;
  border: none;
  color: white;
  padding: 1vh;
  margin-top: 2rem;
  margin-right: 2rem;
}

.sign-out:hover {
  cursor: pointer;
  background-color: #dddada;
}

.sign-out:active {
  cursor: pointer;
  background-color: #dddada;
}

.form-label {
  display: block;
  margin-bottom: 0.2rem;
}

.link-button:hover {
  color: red;
  cursor: pointer;
}

.whats-the-text {
  font-size: 6vh;
  font-weight: bold;
  color: #525252;
  text-align: left;
  flex-shrink: 1;
}

.form-label-2 {
  display: block;
  margin-bottom: 0.1rem;
}

.form-control,
.lobby-button {
  width: 100%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  padding: 1vh;
}

.lobby-button {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 3px;
  background-color: #f46f60;
  color: white;
}

.lobby-button:hover {
  cursor: pointer;
}

.small {
  display: block;
  text-align: center;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.link-button-container {
  text-align: center;
}

.link-button {
  background-color: transparent;
  border-color: transparent;
  text-decoration: none;
  box-shadow: none;
}

.create-group-text {
  font-size: 4vh;
  font-weight: bold;
  color: #525252;
  text-align: left;
  flex-shrink: 2;
}

.card-header {
  backdrop-filter: unset;
  border: none;
  background: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.help {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  padding: 0;
  margin: 0;
  margin-bottom: 5vh;
  font-size: 2em;
  color: #525252;
  font-weight: 600;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.form-group {
  width: 80%;
}

.orangeText {
  color: #f46f60;
  flex-shrink: 2;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body-text {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  text-align: center;
  margin-top: 0.1rem;
  margin-bottom: 0.6rem;
}

.autocomplete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.autocomplete-control {
  width: 100%;
}

.location-modal-button {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #f46f60;
  border: none;
  color: white;
}

.location-modal-button:hover {
  cursor: pointer;
  background-color: #dddada;
}

.location-modal-button:active {
  cursor: pointer;
  background-color: #dddada;
}

.modal-body-text-2 {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 1000;
}

.pac-container {
  z-index: 1056 !important;
}
