.container {
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.col-left {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  /* border: 1px solid #f56e60; */
}

.logo {
  margin-top: 2.5vh;
  margin-left: 2.5vw;
  flex-basis: 2%;
  width: 8vh;
  height: 8vh;
  justify-content: center;
  align-items: center;
}

.joined-members-container {
  flex-basis: auto;
  padding-left: 2vw;
}

.members {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 10vw;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 1vh;
  color: #f56e60;
  font-weight: 600;
}

.col-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.flex-1 {
  flex: 1;
}
.join-info {
  margin-top: -10vh;
}

.link {
  text-decoration: none;
  color: #f56e60;
}
.room-info {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lobby-code {
  font-size: 10vh;
  color: #525252;
  font-weight: bold;
}

.button-container {
}

.ready-button {
  bottom: 0;
  margin-bottom: 10%;
  background-color: #7ed7c1;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  outline: none;
  padding: 13px 23px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.ready-button:hover {
  box-shadow: #222222 0 0 0 1px, rgba(255, 255, 255, 0.8) 0 0 0 3px;
  transition: box-shadow 0.2s;
}

.ready-button:active {
  background-color: #dcffb7;
  border-color: #000000;
  transform: scale(0.96);
}

.ready-button:disabled {
  background: #828383;
  border-color: #828383;
  color: #ffffff;
  font-weight: 500;
  cursor: not-allowed;
  opacity: 1;
}

.lobby-button:disabled {
  border-color: #dddddd;
  color: #dddddd;
  background-color: #828383;
  cursor: not-allowed;
  opacity: 1;
}

.col-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.input-field-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
}

.suggestion-input {
  border: 1px solid #828383;
  border-radius: 8px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 12px 12px;
  text-align: center;
  width: 50%;
}

.suggestion-button {
  background-color: #525252;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  outline: none;
  text-decoration: none;
  touch-action: manipulation;
  width: 25%;
}
