@font-face {
    font-family: "SegoePrint";
    src: local("SegoePrint"), url(../fonts/segoepr.ttf) format("truetype");
}

.main-container {
    height: 100vh;
    width: 100vw;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vh;
    font-weight: bold;
    color: #525252;
    padding: 1%;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
}

.homebutton {
    width: 10%;
    position: absolute;
    top: 1%;
    right: 0.5%;
}